<nav id="navigatie" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">The Green Touch</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Winkelwagen</a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Inloggen</a>
        </li>
      </ng-template>
      <li
        ngbDropdown
        *ngIf="auth.user$ | async as user; else anonymousUser"
        class="nav-item dropdown"
      >
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ user.displayName }}</a
        >
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" routerLink="/my-orders">Mijn orders</a>
          <a class="dropdown-item" routerLink="/admin/orders">Beheer orders</a>
          <a class="dropdown-item" routerLink="/admin/products"
            >Beheer producten</a
          >
          <a class="dropdown-item" (click)="logout()">Uitloggen</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
